@import '../styles/colors';

.optionsdecoder {
    ul {
        margin: 0;
        padding: 0;
        
        li {
            list-style-type: none;
        }

        &.categories {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-height: 800px;

            > li {
                margin-bottom: 1em;

                .category-name {
                    font-weight: bold;
                }    
            }
        }

        &.options {
            display: flex;
            flex-flow: column;
            flex-wrap: wrap;
        
            li {
                div {
                    display: grid;
                    grid-template-columns: 75px 350px;
    
                    .code {
                    }
        
                    .name {
                    }
                }
            }
            }
    }
    
}