@import '../styles/colors';

.optionsdecoder {
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        
        li {
            list-style-type: none;
        
            div {
                display: grid;
                grid-template-columns: 75px 350px;

                .code {
                }
    
                .name {
                }
            }
        }
    }
    
}