@import '../styles/colors';

ul.vehiclelist {
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
        padding: 5px 10px;
        border-bottom: 1px solid $border-color;
        &.selected {
            background: $border-color;
        }
    }
}
